<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partialCached "validate-content.html" . -}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} &middot;
        {{ .Site.Title }}
      {{ end }}
    </title>
    {{ with .Description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />
  </head>
  <body>
    <header>
      <a href="{{ "/" | relURL }}" class="site-title">{{ .Site.Title }}</a>
      {{ $section := .Section }}
      <nav class="site-nav">
        <a
          href="{{ "/notices/" | relURL }}"
          {{ if eq $section "notices" }}aria-current="page"{{ end }}
          >Notices</a
        >
        <a
          href="{{ "/minutes/" | relURL }}"
          {{ if eq $section "minutes" }}aria-current="page"{{ end }}
          >Minutes</a
        >
        <a
          href="{{ "/news/" | relURL }}"
          {{ if eq $section "news" }}aria-current="page"{{ end }}
          >News</a
        >
        <a
          href="{{ "/notes/" | relURL }}"
          {{ if eq $section "notes" }}aria-current="page"{{ end }}
          >Notes</a
        >
        <a
          href="{{ "/governance/" | relURL }}"
          {{ if eq $section "governance" }}aria-current="page"{{ end }}
          >Governance</a
        >
      </nav>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>
        &copy;
        2022&ndash;{{ now.Year }}
        C&amp;RBGC. All rights reserved.
      </p>
    </footer>
  </body>
</html>
